/** CSS3 Coolness here **/
/*
  Main colors (pastel):
    #ABD1C9 #8DB7B6 -> blue
    #EEE5C7 -> beige
    #DA4845 #D45855 #843E4D -> shades of red
    #98C5D0 -> vivid blue
    #DA674F -> orange
    #578894 -> dark blue
    #351C20 -> dark red
*/

body{
  color: #492124;
  /*background-color: #ABD1C9;*/
  background-image: -webkit-gradient(
      linear,
      left top,
      right bottom,
      color-stop(0, hsla(179, 23%, 64%, .5)),
      color-stop(1, hsla(179, 23%, 64%, 1))
  );
  background-image: -moz-linear-gradient(
      left top,
      hsla(179, 23%, 64%, .5) 0%,
      hsla(179, 23%, 64%, 1)  100%
  );
}

em{
  font-style: italic;
}
strong{
  font-weight: bold;
}

a, a:visited, a:link{
  color: #EEE5C7;
  background: rgba(218,72,69,.3);
  padding: 0 .3em .1em;
  border-radius: .2em;
  text-decoration: none;
  text-shadow: 0 2px 1px #DA4845;
  
  -webkit-transition: background .2s ease-in-out;
  -moz-transition:    background .2s ease-in-out;
  transition:         background .2s ease-in-out;
}
a:hover{
  background: #DA4845;
  text-shadow: 0 1px 1px #000;
}

header{
  color: #EEE5C7;
  background: #DA4845;
}
header h1{
  padding: 1em 0;
  text-shadow: 0 2px 1px #351C20;
}
header h1 span{
  display: block;
  font-size: .7em;
  color: #843E4D;
  text-shadow: none;
}

#intro{
  line-height: 1.35;
  margin: 2em 0 2em;
  padding: 1.5em 2em;
  color: #EEE5C7;
  text-shadow: 1px 1px 1px #578894, 1px 2px 1px #578894, 1px 3px 1px #578894, 1px 4px 1px #578894;
}
#intro h2{
  font-size: 3em;
}
#intro p{
  font-size: 2em;
  line-height: 1.7;
}
article.contents{
  padding: 1em 0;
  margin: 1em 0 2em;
}
article.list{
  font-size: 1.35em;
}
article.text{
  padding: 2em 0;
}
article.text h2{
  margin: 0 0 1em;
}
article.text h3{
  font-size: 1.5em;
  margin: 1.5em 0 1em;
}
article.text p{
  font-size: 1.1em;
  font-family: "Lucida Sans", arial, sans-serif;
  line-height: 1.6;
  margin: .4em 0 .8em;
}

footer{
  margin-bottom: 1em;
}
footer a {
  white-space: nowrap;
}