html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  font: 16px/1.5 "Open Sans", sans-serif;
}

body {
  color: hsl(343, 5%, 27%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: table;
  background-color: rgb(159, 255, 231);
}

em {
  font-style: italic;
}
strong {
  font-weight: bold;
}

h1 {
  font-size: 1.4em;
}

p {
  margin: 1rem 0;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid hsl(290, 53%, 77%);
}

a:hover {
  border-color: #FFF;
}

.container {
  text-align: center;
  width: 25em;
  margin: 0 auto;
  padding: 3em 0;
  font-size: 1.2rem;
  font-weight: 100;
  display: table-cell;
  vertical-align: middle;
  font-weight: 600;
  color: hsl(270, 10, 10);
}

.container img {
  width: 250px;
}
