<!DOCTYPE html>

<html lang="en">

<head>
  <title>yizzreel / {{ page.title }}</title>
  <meta charset="utf-8" />
  
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
  <meta name="description" content="Coding as Art." />
  
  <meta name="author" content="Nobody" />
  
  <meta name="copyright" content="No Rights Reserved." />
  
  <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
  
  {{ content }}
  
  <footer>
    <div class="container">
      <p>{{ page.footnote }}</p>
      <p>Github hosts some of my <a href="http://github.com/yizzreel">projects</a>, Twitter display my <a href="http://twitter.com/yizzreel">random messages</a>, LinkedIn maintains my <a href='http://es.linkedin.com/in/yizzreel'>unprofessional profile</a> and gmail gave me an <em title="yizzreel /at/ gmail /dot/ com">email address</em> to communicate with people.</p>
    </div>
  </footer>
  
  <script src="js/jquery-1.5.2.min.js"></script>
  <script src="js/script.js"></script>
  <script>
    var _gaq = [['_setAccount', 'UA-341025-3'], ['_trackPageview']];
    (function(d, t) {
     var g = d.createElement(t),
         s = d.getElementsByTagName(t)[0];
     g.async = true;
     g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     s.parentNode.insertBefore(g, s);
    })(document, 'script');
  </script>
</body>
</html>

