<!DOCTYPE html>

<html lang="en">

<head>
  <title>Marcos Arias / {{ page.title }}</title>
  <meta charset="utf-8" />
  
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
  <meta name="description" content="Coding as Art. Ruby, Javascript, HTML5, CSS3, PHP, Flash whatever falls into my hands." />
  <meta name="author" content="Marcos Arias" />
  
  <meta name="copyright" content="No Rights Reserved." />
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
  
  {{ content }}
  
  <footer>
    <div class="container">
      <p>{{ page.footnote }}<a href="http://twitter.com/yizzreel">Follow me <span>twitter</span></a> or <em title="Marcos Arias<yizzreel /at/ gmail /dot/ com>">drop me a line</em>.</p>
    </div>
  </footer>
  
  <script src="js/jquery-1.5.2.min.js"></script>
  <script src="js/script.js"></script>
  
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-341025-3']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  
</body>
</html>

